.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.logo {
  position: fixed;
  z-index: 1;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.particles {
  position: fixed;
  z-index: -1;
}
