body {
  margin: 0;
  font-family: "Anek Malayalam", sans-serif;
  background: linear-gradient(90deg, rgba(31, 30, 30, 0) 0%, #da5a43 100%);
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

h1 {
  z-index: 1;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -5;
}
